main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nunca-esquece {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 5.7rem;
  background-image: url("../../img/welcomeimg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 65rem;
}

.title p {
  font-family: "Antic Slab", serif;
  font-size: 3rem;
}

.acessar {
  /* margin-bottom: 11rem; */
  flex-basis: 10rem;
}

.acessar p {
  font-size: 5rem;
  font-family: "Antic Slab", serif;
  text-align: center;
}

.organize-se {
  display: flex;
  justify-content: center;
}

.organize-se button {
  width: 10rem;
  height: 4rem;
  padding: 0 0.7rem;
  margin-top: 1rem;
  background: #00b0f0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 5px;
  font-weight: 700;
  font-size: 1.2rem;
  color: #fff;
}
